//
   Created by swpark on 2016. 5. 3..
extends layout

block content
    div.container
        div.jumbotron
            h1 S/W Park BOARD
            p This is Software Park's Board
            p If you want to create new task, jush push this button!!
            div.form-group
                form(action='/board/createTask', method='post')
                    input(type='text' name='contents' class='form-control')
                    button(type='submit' class='btn btn-success') Add Task
            div.row
                div.col-lg-4
                    ul.list-group
                        li.list-group-item.active TO-DO -> user's memo or Todolist
                            span.badge= todoTasks.length
                        each val in todoTasks
                            div.input-group
                                li.list-group-item= val
                                div.input-group-btn
                                    form(action='/board/removeTask', method='post')
                                        button(type='submit' class='btn btn-danger'
                                                name='contents' value= val) D

                div.col-lg-4
                    ul.list-group
                        li.list-group-item.active Service, only admin
                            span.badge= ServicesTasks.length
                        each val in ServicesTasks
                            div.input-group
                                li.list-group-item= val
                                div.input-group-btn
                                    form(action='/board/updateTask', method='post')
                                        input(type='hidden' name='status' value='Printing')
                                        button(type='submit' class='btn btn-info'
                                                name='contents' value= val) <strong>></strong>

                div.col-lg-4
                    ul.list-group
                        li.list-group-item.active Printing
                            span.badge= PrintingTasks.length
                        each val in PrintingTasks
                            div.input-group
                                li.list-group-item= val
                                div.input-group-btn
                                    form(action='/board/updateTask', method='post')
                                        input(type='hidden' name='status' value='Services')
                                        button(type='submit' class='btn btn-danger'
                                                name='contents' value= val) D