//
   Created by swpark on 2016. 5. 3..
extends layout

block content
    div.container
        div.jumbotron
            h1 Dash board
            p Set time Set task Get printing
            form(action='/createTask', method='post')
                div.input-group
                    div.input-group-btn
                        button(type='button' name='pTime' class='btn btn-info'
                        data-toggle='modal' data-target='#bs-modal-sm')
                            span(class = 'glyphicon glyphicon-time' aria-hidden='true')
                    input(type='text' name='contents' class='form-control' placeholder='Memo')
                    div.input-group-btn
                        button(type='submit' class='btn btn-success') Add Task
            p
            div.row
                div.col-lg-4
                    ul.list-group
                        li.list-group-item.active TO-DO list
                            span.badge= todoTasks.length
                        each val in todoTasks
                            div.input-group
                                li.list-group-item= val
                                span.input-group-btn
                                    form(action='/removeTask', method='post')
                                        button(type='submit' class='btn btn-danger'
                                            name='contents' value= val)
                                            span(class='glyphicon glyphicon-trash')
                div.col-lg-4
                    ul.list-group
                        li.list-group-item.active Service from Server
                            span.badge= ServicesTasks.length
                        each val in ServicesTasks
                            div.input-group
                             li.list-group-item= val
                             div.input-group-btn
                                    form(action='/updateTask', method='post')
                                        input(type='hidden' name='status' value='Printing')
                                        button(type='submit' class='btn btn-info'
                                        name='contents' value= val)
                                            span(class='glyphicon glyphicon-print')
                div.col-lg-4
                    ul.list-group
                        li.list-group-item.active Printing
                            span.badge= PrintingTasks.length
                        each val in PrintingTasks
                            div.input-group
                                li.list-group-item= val
                                div.input-group-btn
                                    form(action='/updateTask', method='post')
                                        input(type='hidden' name='status' value='Services')
                                        button(type='submit' class='btn btn-danger'
                                        name='contents' value= val)
                                            span(class='glyphicon glyphicon-off')

    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
    include setTime